/InsertionSort/nbproject/private/
/InsertionSort/build/
/Binary/nbproject/private/
/Binary/build/
/Binary/dist/
/GroceryChalenge_Final/nbproject/private/
/GroceryChalenge_Final/build/
/FortuneTeller/nbproject/private/
/FortuneTeller/build/
/CustomerNames/nbproject/private/
/CustomerNames/build/
/ErrorHandling/nbproject/private/
/ErrorHandling/build/
/Resturant/nbproject/private/
/Resturant/build/
/Contacts/nbproject/private/
/Contacts/build/
/Languages/nbproject/private/
/Languages/build/